@font-face {
    font-family: HKGroteskBold;
    src: url(/fonts/hk-grotesk/HKGrotesk-Bold.otf);
  }
  
  @font-face {
    font-family: HKGroteskBlack;
    src: url(/fonts/hk-grotesk/HKGrotesk-Black.otf);
  }

  
.overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  margin-top: -20%;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 600px auto;
  background: #ffffff;
  border-radius: 15px;
  width: 35%;
  position: relative;
  transition: all 5s ease-in-out;

}

.popup h2 {
  margin-top: 0;
  color: #262626;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #145CA8    ;
}
.popup .close:hover {
  color: #252525;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

#uploadButton{

  background-color: #145CA8;
  color: white;
  padding: 8px 15px;
  border-radius: 0.3rem;
  cursor: pointer;

}