@font-face {
  font-family: HKGroteskBold;
  src: url(/fonts/hk-grotesk/HKGrotesk-Bold.otf);
}

@font-face {
  font-family: HKGroteskBlack;
  src: url(/fonts/hk-grotesk/HKGrotesk-Black.otf);
}

@font-face {
  font-family: HKGroteskRegular;
  src: url(/fonts/hk-grotesk/HKGrotesk-Regular.otf);
}

.paddingLeft{
  padding-left: 150px !important;
}

#contactInputForm{
  border-radius: 15px;
  padding:12px 15px  
}

.buttonBlue{
  font-size:1.8vw;background-color:#3F92D8;color:#FFFFFF;padding:12px 40px;text-decoration:none;border-radius:15px;font-family:HKGroteskBold
}
