@font-face {
  font-family: HKGroteskBold;
  src: url(/fonts/hk-grotesk/HKGrotesk-Bold.otf);
}

@font-face {
  font-family: HKGroteskBlack;
  src: url(/fonts/hk-grotesk/HKGrotesk-Black.otf);
}

@font-face {
  font-family: HKGroteskRegular;
  src: url(/fonts/hk-grotesk/HKGrotesk-Regular.otf);
}

.paddingLeft{
  padding-left: 150px !important;
}

#contactInputForm{
  border-radius: 15px;
  padding:12px 15px  
}

.buttonBlue{
  font-size:1.8vw;background-color:#3F92D8;color:#FFFFFF;padding:1vw 3.5vw;text-decoration:none;border-radius:15px;font-family:HKGroteskBold
}
.buttonBlue:hover{
  font-size:1.8vw;background-color:#3F92D8;color:#FFFFFF;padding:1vw 3.5vw;text-decoration:none;border-radius:15px;font-family:HKGroteskBold
}


.overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  margin-top: -30%;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 40vw auto;
  background: #ffffff;
  border-radius: 15px;
  width: 35%;
  position: relative;
  transition: all 5s ease-in-out;

}

.popup h2 {
  margin-top: 0;
  color: #262626;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #145CA8    ;
}
.popup .close:hover {
  color: #252525;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}
