@font-face {
  font-family: HKGroteskBold;
  src: url(/fonts/hk-grotesk/HKGrotesk-Bold.otf);
}

@font-face {
  font-family: HKGroteskBlack;
  src: url(/fonts/hk-grotesk/HKGrotesk-Black.otf);
}

@font-face {
  font-family: HKGroteskRegular;
  src: url(/fonts/hk-grotesk/HKGrotesk-Regular.otf);
}

.paddingLeft{
  padding-left: 150px !important;
}
